.date
  width 400px
  margin 42px 0 0 0
.date__title
  z-index 2
  float  left
  margin 24px 15px 0 0
  padding-right 15px
  line-height 44px
  sans-bold()
  color brown-text
  pattern-background()
.date__number
  display block
  margin-bottom 16px
  courier-new()
  color brown-text
  &:after
    z-index 1
    display block
    height 4px
    margin-top 2px
    content ""
    background-image url(../images/underline.png)

