.profile__title
  display block
  float left
  margin-right 15px
  padding-top 21px
  padding-right 16px
  padding-bottom 2px
  sans-bold()
  color brown-text
  pattern-background()
  z-index 2
.profile__text
  courier-new()
  color brown-text
  display block
  margin-bottom 16px
  &:after
    z-index 1
    display block
    margin-top 2px
    height 4px
    content ""
    background-image url(../images/underline.png)