.skills
  padding 25px 0
.skills__title
  sans-bold()
  color brown-text
  margin-top 6px
  margin-bottom 10px
  margin-left 1px
.skills__text
  position relative
  padding-left 19px
  font-family "Sans regular"
  font-size 14px
  color grey-text
  line-height 22px
  &:before
    position absolute
    left 1px
    top 9px
    content "*"
    font-size 38px
.skills__col
  position relative
  float left
  width: 33.33333%
  padding 21px 3px
.skills__col__last
  padding-left 20px
.skills__row
  margin-bottom 9px
.skills__row:after
  display table
  content ""
  clear both