.slider
  width 760px
  margin-left 14px
.slider__title
  sans-bold()
  color brown-text
  margin 48px 0 33px 0px
.slider__borders
  height 24px
  margin-top -3px
  border-right 3px solid #40221e
  border-left 3px solid #40221e
.slider__borders__inner
  margin 0 0 0 144px
  margin-top -3px
  width 228px
  height 12px
  border-right 2px solid #40221e
  border-left 2px solid #40221e
.slider__text
  margin-top 3px
  sans-bold()
  font-size 13px
  line-height 19px
  display block
  float left
  color brown-text
.slider__text__noob
  width 19%
.slider__text__medium
  width 30%
.slider__text__hard
  width 23%
.slider__text__pro
  width 28%
  text-align right
  margin-top 10px
