sans-bold()
  font-family 'Sans Bold', sans-serif
  font-size 22px
  line-height 24px
courier-new()
  font-family 'Courier New', sans-serif
  font-size 30px
  line-height 40px
pattern-background()
  background-image url(../images/background.png)


